.App {
  width: 100vw;
  max-width: 100%;
}

.main-content {
  margin-bottom: 20px;
}

.lg {
  grid-row: span 2;
  grid-column: span 2;
} 

@media screen and (max-width: 500px) {
.lg {
    grid-row: span 1;
    grid-column: span 1;
  }
}